<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/body.css}" href="../static/css/body.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/tachyons.min.css}" href="../static/css/tachyons.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <title>iot-backend::Login</title>
</head>
<body class="body">
<div>
    <main class="pa4 black-80">
        <form class="measure center" method="post" action="/login">
            <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                <legend class="f4 fw6 ph0 mh0">Sign In</legend>
                <div class="mt3">
                    <label class="db fw6 lh-copy f6" for="username">Email</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="username"  id="username">
                </div>
                <div class="mv3">
                    <label class="db fw6 lh-copy f6" for="password">Password</label>
                    <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  id="password">
                </div>
                <label class="pa0 ma0 lh-copy f6 pointer"><input type="checkbox"> Remember me</label>
            </fieldset>
            <div class="">
                <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="LOG IN">
            </div>
            <div class="lh-copy mt3">
                <a th:href="@{(${signupLink})}" href="#0" target="_blank" class="f6 link dim black db">Sign up</a>
                <a th:href="@{(${forgotLink})}" href="#0" target="_blank" class="f6 link dim black db">Forgot your password?</a>
            </div>

        </form>
    </main>

    <footer class="pv4 ph3 ph5-m ph6-l mid-gray mt7">
        <small class="f6 db tc">© 2021 <b class="ttu">IOT-Backend Server</b>., All Rights Reserved</small>
        <div class="tc mt3">
            <a href="mailto:john@doe.com" th:href="@{(${contactEmail})}" title="Contact" class="f6 dib ph2 link mid-gray dim">Contact</a>
        </div>
        <div class="tc mt3">
            <span class="fw3 f6 gray" th:text="${buildVersion}">v1.0</span>
        </div>
    </footer>
</div>
</body>
</html>