<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/body.css}" href="../static/css/body.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/tachyons.min.css}" href="../static/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
  <title>iot-backend::Logout</title>
</head>
<body class="body">
<div>

  <div class="tc">
    <h2>Are you sure you want to logout?</h2>
  </div>

  <form method="post" action="/logout">
    <div class="tc">
      <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f4 dib" type="submit" value="LOGOUT">
    </div>

  </form>

</div>
</body>
</html>